<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>
  <% if Clearance.configuration.allow_sign_up? %>
    <div class="col">
      <h2>New to Diversity Tickets?</h2>
      <%= link_to sign_up_path do %>
        <div class="btn btn-edit">Create your Account</div>
      <% end %>
    </div>
  <% end %>

</div>
