.sign-up, .sign-in {
  column-count: 2;
  .col {
    break-before: column;
    a {
      text-decoration: none;
      color: white;
    }
    .btn {
      text-align: center;
    }
  }
  .other-links{
    margin-top: 5px;
  }
}
