<h1>Application for <%= @event.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>


<%= link_to 'Show Event', event_path(@event.id) %>