<h1 class="page-title">FAQ</h1>

<h2 class="page-subtitle">General</h2>

<p><strong>What is diversitytickets.org?</strong></p>
<p>diversitytickets.org is a Travis Foundation app which helps conference organisers reach out to minority groups by offering them ticket and travel grants. They can do so by adding their own event/conference and specifying how many tickets will be given away. Once the event is approved, it becomes publicly listed on the website and applicants can apply for it. The app itself is currently offered for a fee as part of the Foundation’s diversity consulting.</p>

<p><strong>Why is there a need for something like diversitytickets.org?</strong></p>
<p>Unfortunately, the tech industry is <a href="http://geekfeminism.wikia.com/wiki/FLOSS" target="_blank">far from being diverse</a>. There are a few projects which make us all aware of this problem, but the goal of diversitytickets.org is first and foremost to try and raise the amount of diverse attendees at conferences by specifically reaching out to members of minority groups who would otherwise not be able to attend a conference.</p>

<h2 class="page-subtitle">For conference organisers</h2>

<p><strong>Which events are eligible?</strong></p>
<p>Organizers that want to get help from Travis Foundation to handle their diversity tickets can submit any of their events or conferences for which they are willing to offer free tickets or travel grants — this must have been discussed with Travis Foundation prior to the submission. We expect the events to be inclusive and to have a Code of Conduct which will be enforced throughout the event.</p>

<p><strong>How can I submit my event?</strong></p>
<p>To submit your event, click on “Submit Event” and fill out all the details. Your personal information (name and email) will not be public and is only asked so that we can contact you.</p>

<p><strong>How long will it take for my event to be approved?</strong></p>
<p>This usually depends on how many event submissions we get; we expect for it to take from 24 hours up to one week, so please factor that in when submitting your event. Once the event is approved, you will receive an automated email.</p>

<p><strong>Why has my event not been approved?</strong></p>
<p>If your event has not been approved, you can contact us for more details.</p>


<h2 class="page-subtitle">For grant applicants</h2>
<p><strong>How can I apply?</strong></p>
<p>Find the event you wish to apply to in the <a href="https://diversitytickets.org/events" target="_blank">event list</a>, and click the green "Apply" button underneath the event description. Please fill out all the form fields, and using the checkboxes, select the kind of support you are applying for (eg. ticket, travel grant) and accept the Terms and Conditions. That’s all!</p>

<p><strong>Am I eligible to apply?</strong></p>
<p>If you feel like you are a member of an underrepresented group in tech — this includes, but is not limited to: people of colour, LGBTQIA+ people, women and disabled people — and agree to our Terms and Conditions, that makes you eligible for a diversity ticket.</p>

<p><strong>When will I find out if my application has been accepted/rejected?</strong></p>
<p>Every conference is different, so we can’t tell you for sure how much the selection process will take; two weeks from the application deadline usually give us enough time to process all applications.</p>
