<h1>We help events reach a more diverse audience. And we help you to find these events.</h1>
<h1>Because diversity is what makes communities whole.</h1>

<div class="two_column">
	<div class="left">
		<h3><%= link_to 'Attendees', events_path, class:"button" %></h3>
    <p>Find and apply for upcoming events.</p>
	</div>

	<div class="right">
		<h3><%= link_to 'Organizers', new_event_path, class:"button" %></h3>
    <p>Submit your upcoming events.</p>
	</div>
</div>
