<% provide :title, t('.title') %>

<h1 class="page-title">Impressum</h1>

<em>(Scroll for English version)</em>

<h3>Angaben gemäß § 5 TMG:</h3>
<p>
Travis Foundation gUG (haftungsbeschränkt)</br>
c/o Travis CI GmbH</br>
Rigaer Straße 8</br>
10247 Berlin
</p>

<h3>Vertreten durch:</h3>
<p>Anika Lindtner (Geschäftsführerin), Laura Gaetano (Prokura), Sven Fuchs (Prokura)</p>

<h3>Kontakt:</h3>
<p>
E-Mail: diversityticketsorg@gmail.com</br>
URL: https://diversitytickets.org
</p>

<h3>Registereintrag:</h3>
<p>
Handelsregister</br>
Register Number: HRB 158047 B</br>
Amtsgericht: Charlottenburg (Berlin)
</p>

<h3>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:</h3>
<p>
DE295684024
</p>

<h2 class="page-subtitle">Disclaimer</h2>

<h3>Haftung für Inhalte</h3>
<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>

<p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

<h3>Haftung für Links</h3>
<p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>

<p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

<h3>Urheberrecht</h3>
<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>

<p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>

<section>
<h1>Legal Disclosure (English version)</h1>

<h3>Information in accordance with Section 5 TMG:</h3>

<p>
Travis Foundation gUG (haftungsbeschränkt)</br>
c/o Travis CI GmbH</br>
Rigaer Straße 8</br>
10247 Berlin</br>
Germany
</p>

<h3>Represented by:</h3>
<p>Anika Lindtner (CEO), Laura Gaetano (Prokura), Sven Fuchs (Prokura)</p>

<h3>Contact Information:</h3>
<p>
E-Mail: diversityticketsorg@gmail.com</br>
Internet address: https://diversitytickets.org
</p>

<h3>Register entry:</h3>
<p>
Entry in: Handelsregister</br>
Register Number: HRB 158047 B</br>
Register Court: Amtsgericht Charlottenburg (Berlin)
</p>

<h3>VAT identification number in accordance with Section 27 a of the German VAT act</h3>
<p>DE295684024</p>

<h2 class="page-subtitle">Disclaimer</h2>

<h3>Accountability for content</h3>
<p>The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this matter, please note that we are not obliged to monitor the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).</p>

<h3>Accountability for links</h3>
<p>Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.</p>

<h3>Copyright</h3>
<p>Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law, every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are only allowed for private use. The materials from these pages are copyrighted and any unauthorized use may violate copyright laws.</p>

</section>

<p>Sources/Quellen: <a href="https://www.e-recht24.de/">eRecht24</a>, <a href="http://www.translate-24h.de/">translate-24h</a>
</p>
