<h1>Admin Events</h1>
 
<% @events.each do |event| %>
  <p>
    <%= event.name %>
    <% if event.approved %>
      <%= link_to 'Unapprove', edit_event_path(:id => event.id) %>
    <% else %>
      <%= link_to 'Approve', edit_event_path(:id => event.id) %>
    <% end %>
    <%= link_to 'Download CSV', event_admin_path(:id => event.id, :format => :csv) %>
  </p>
<% end %>