<%= provide :title, 'Past Events' %>
<p>These events provided diversity tickets in the past. Many thanks to the organizers.</p>

<div class="two-columns">
  <% @events.each do |event| %>
    <%= render partial: "index_list_item", locals: { event: event } %>
  <% end %>
</div>

<%= link_to 'Show upcoming events', events_path %>
