<% provide :title, t('.title') %>

<%= render partial: 'event_search' %>

<p><%= t('.past_events_thanks') %></p>

<div class="two-columns">
  <% @events.each do |event| %>
    <%= render partial: "index_list_item", locals: { event: event } %>
  <% end %>
</div>

<%= link_to t('.show_upcoming_events'), events_path %>
