/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


$grey-dark: #606060;
$grey-light: #E7E8E9;
$red: #EA5755;
$blue: #25AAE1;
$green: #65BE66;
$yellow: #F8BA3F;
$black: #4C5052;

$small: 600px;
$medium: 900px;
$large: 1100px;
$x-large: 1400px;

$topbar-height: 55px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import "normalize.scss";
@import "form.scss";
@import "front.sass";

*, *:before, *:after {
  box-sizing: border-box;
}


html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $grey-dark;
}

h1, h2, h3, h4 {
  margin-top: 0;
  color: $black;
}

h1 {
  font-size: 3em;
}

a {
  color: $grey-dark;
  &:hover,
  &:active {
    color: $green;
  }
}

.topbar {
  background: white;
  border-bottom: 1px solid #DDDEDF;

  @media (min-width: $large) {
    height: $topbar-height;
  }
}

.content {
  padding: 1em 0 2em;
  background: $grey-light;
}

.inner {
  padding: 0 1em;
  @media (min-width: $large) {
    width: 1000px;
    margin: auto;
  }
}

.logo {
  margin: 0;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
  a {
    text-decoration: none;
    color: $grey-dark;
  }

  img {
    max-height: 35px;
    margin-right: 5px;
    vertical-align: middle;
  }

  @media (min-width: $medium) {
    display: inline-block;
    height: $topbar-height;
    line-height: $topbar-height;
  }
}



.navigation {
  vertical-align: middle;
  ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 30px;
    overflow: auto;
    font-size: 15px;
  }

  li {
    padding-left: 10px;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover,
  .active {
    color: $green;
  }

  @media (min-width: $small) {
    li {
      float: left;
      margin-right: 1em;
    }
  }
  @media (min-width: $medium) {
    display: inline-block;
    height: $topbar-height;
    line-height: $topbar-height;
  }
}

.breadcrumb {
  margin: 0;
  padding: 0 0 1em;
  font-size: 14px;
}

.category,
.box {
  background: white;
  padding: 1em;
  border: 2px solid darken($grey-light, 5);
  border-radius: 4px;
  margin-bottom: 1em;

  h2,
  .box-title {
    border-bottom: 1px solid darken($grey-light, 5);
    padding-bottom: 0.4em;
  }

  .box-noborder {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .border {
    padding-bottom: 0.4em;
    margin-top: 0;
    border-bottom: 1px solid darken($grey-light, 5);
  }

}

.page-title {
  margin-bottom: 0;
}
.page-description {
  margin-top: 0;
  margin-bottom: 2em;
}

.detail-pair {
  font-weight: 300;
  font-size: 18px;
  color: #232323;
  margin-top: 20px;
}

.detail-pair strong {
  display: block;
  font-weight: 600;
  font-size: 14px;
}

.btn-edit {
  background-color: $blue;
}

.btn-delete {
  background-color: $red;
}

.btn-save {
  background-color: $green;
  display: inline;
  width: auto;
  border: none;
}

.btn {
  text-decoration: none;
  border-radius: 7px;
  padding: 0.5em 0.8em;
  color: #ffffff;
  margin-inline-end: 0.5em;
  &:hover,
  &:active {
    color: #ffffff;
    cursor: pointer;
  }
}
