/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
}

.topbar {
  padding: 0 15px;
  background-color: #eff0ec;
  font-family: sans-serif;
}

.topbar a {
  text-decoration: none;
  color: #898989;
}

.topbar h1 {
  display: inline-block;
}

.navigation {
  display: inline-block;
}

.navigation li {
  padding: 0 5px;
  display: inline-block;
  list-style: none;
}

.row li {
  display: inline-block;
  width: 150px;
}