/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: sans-serif;
}

.content {
  padding: 0 15px;
  color: #898989;

  a {
    color: #898989;
  }

  h1 {
    color: #337389;
  }

  .button {
    background-color: #dc4136;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 5px;
    text-decoration: none;
  }
}

.two_column {
  overflow: hidden;

  .left, .right {
    float: left;
    width: 50%;
    text-align: center
  }

  .button {
    display: inline-block;
  }
}

/* Navigation Bar */
.topbar {
  padding: 0 15px;
  background-color: #eff0ec;
  font-family: sans-serif;

  a {
    text-decoration: none;
    color: #898989;
  }

  h1 {
    display: inline-block;
  }
}

.navigation {
  display: inline-block;

  li {
    color: #898989;
    padding: 0 5px;
    display: inline-block;
    list-style: none;
  }

  .active {
    font-weight: bold;
  }
}

/* Admin Index Page */
.category {
  background-color: #D6D6D6;
  padding: 5px 15px;
  margin: 10px 0;
  width: 650px;
  border-radius: 5px;
}

.admin {
  display: inline-block;

  li {
    padding: 5px 10px;
    display: inline-block;
    list-style: none;
  }

  li:first-child {
    width: 150px;
  }

  li:nth-child(2) {
    width: 108px;
  }
}

/* Admin Show Page */
.row li {
  display: inline-block;
  width: 150px;
}

/* New Events Page (Form) */
.description {
  font-size: 14px;
}

.form_field {
  margin-top: 0.75em;

  p {
    margin: 0;
  }

  input[type=text] {
    width: 35em;
  }

  textarea {
    width: 35em;
    height: 10em;
  }

  input[type=submit] {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #898989;
    color: #eff0ec;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0;
    text-decoration: none;
  }

  .small {
    font-size: 13px;
  }
}

.date {
  overflow: hidden;

  .left {
    float: left;
    margin-right: 10px;
  }

  .right {
    float: left;
  }
}

/* Event Show Page */
.event {
  background-color: #EBCDC3;
  padding: 5px 15px 30px 15px;
  margin: 10px 0;
  width: 650px;
  border-radius: 5px;

  p {
    margin-bottom: 25px;
  }
}

/* Messages */
.notice {
  padding: 15px;
  color: #08a308;
}

.error {
  padding: 15px;
  color: #dc4136;
}

