/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


$grey-dark: #606060;
$grey-mid: #9C9C9C;
$grey-light: #E7E8E9;
$red: #EA5755;
$blue: #27AAE1;
$green: #65BE66;
$yellow: #F8BA3F;
$orange: #F0AD4E;
$black: #4C5052;

$small: 600px;
$medium: 900px;
$large: 1100px;
$x-large: 1400px;

$topbar-height: 55px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import "normalize.scss";
@import "layout.sass";
@import "top.sass";
@import "navigation.scss";
@import "footer.sass";
@import "flashes.sass";
@import "form.scss";
@import "front.sass";
@import "grid.sass";
@import "icons.sass";
@import "tooltip.sass";
@import "events.scss";
@import "conflogos.scss";
@import "button.sass";
@import "box.sass";
@import "popup.sass";

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $grey-dark;
}

h1, h2, h3, h4 {
  margin-top: 0;
  color: $black;
}

h1 {
  font-size: 3em;
}

a {
  color: $black;
}

.admin-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 1em;
    border-bottom: 3px solid #f1f1f1;
    @media (min-width: $medium) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  .application-name {
    flex: 0 0 40%;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 1em;
  }
  .application-mail {
    flex-basis: 40%;
    overflow: hidden;
    margin-right: 1em;
    flex-grow: 1;
  }
  p {
    margin: 0 0 1em;
  }
  .event-name {
    flex-basis: 20em;
    white-space: nowrap;
    overflow: hidden;
  }
  .application-process {
    flex-basis: 12em;
  }
  .application-deadline {
    flex-basis: 11em;
  }
}
