/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


$grey-dark: #606060;
$grey-light: #E7E8E9;
$red: #EA5755;
$blue: #27AAE1;
$green: #65BE66;
$yellow: #F8BA3F;
$black: #4C5052;

$small: 600px;
$medium: 900px;
$large: 1100px;
$x-large: 1400px;

$topbar-height: 55px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import "normalize.scss";
@import "flashes.sass";
@import "form.scss";
@import "front.sass";
@import "grid.sass";

*, *:before, *:after {
  box-sizing: border-box;
}


html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $grey-dark;
}

h1, h2, h3, h4 {
  margin-top: 0;
  color: $black;
}

h1 {
  font-size: 3em;
}

a {
  color: $black;
}

.topbar {
  background: white;
  border-bottom: 1px solid #DDDEDF;

  @media (min-width: $large) {
    height: $topbar-height;
  }

  a {
    color: $grey-dark;
    &:hover,
    &:active {
      color: $green;
    }
  }
}

.content {
  padding: 1em 0 4em;
  background: $grey-light;
}

.inner {
  padding: 0 1em;
  @media (min-width: $large) {
    width: 1000px;
    margin: auto;
  }
}

.logo {
  margin: 0;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
  a {
    text-decoration: none;
    color: $grey-dark;
  }

  img {
    max-height: 35px;
    margin-right: 5px;
    vertical-align: middle;
  }

  @media (min-width: $medium) {
    display: inline-block;
    height: $topbar-height;
    line-height: $topbar-height;
  }
}



.navigation {
  vertical-align: middle;
  ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 30px;
    overflow: auto;
    font-size: 15px;
  }

  li {
    padding-left: 10px;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover,
  .active {
    color: $green;
    border-bottom: 1px solid $green;
    padding-bottom: 1px;
    @media (min-width: $medium) {
      border: none;
      &:after {
        content: "";
        display: block;
        height: 1px;
        margin-top: -1px;
        background-color: $green;
      }
    }

  }

  @media (min-width: $small) {
    li {
      float: left;
      margin-right: 1em;
    }

  }
  @media (min-width: $medium) {
    display: inline-block;
    height: $topbar-height;
    line-height: $topbar-height;
  }
}

.breadcrumb {
  margin: 0;
  padding: 0 0 1em;
  font-size: 14px;
}

.category,
.box {
  background: white;
  padding: 1em;
  border: 2px solid darken($grey-light, 5);
  border-radius: 4px;
  margin-bottom: 1em;

  h2,
  .box-title {
    border-bottom: 1px solid darken($grey-light, 5);
    padding-bottom: 0.4em;
  }

  .box-noborder {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .border {
    padding-bottom: 0.4em;
    margin-top: 0;
    border-bottom: 1px solid darken($grey-light, 5);
  }

  a:not([class^="icon"]) {
    text-decoration: none;
    color: $black;
    position: relative;
    display: inline-block;
    z-index: 1;
    line-height: 1.1;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -.2em;
      z-index: -1;
      background: #27A8DF;
      transition: height 200ms ease, background 200ms ease;
    }
    &:hover:before,
    &:active:before {
      height: 26px;
      background: #b1eefc;
    }
  }
}

.page-title {
  margin-bottom: 0;
}
.page-title-firstword {
  color:$blue;
}
.page-description {
  margin-top: 0;
  margin-bottom: 2em;
}
.page-subtitle {
  margin: 1.5em 0 1em;
}

.detail-pair {
  font-weight: 300;
  font-size: 18px;
  color: #232323;
  margin-top: 20px;
}

.detail-pair strong {
  display: block;
  font-weight: 600;
  font-size: 14px;
}

.detail-pair-count {
  font-weight: 600;
  font-size: 18px;
  color:  $blue;
  margin-top: 20px;
}


.btn-edit {
  background-color: $blue;
  &:hover,
  &:active {
    background-color: darken($blue, 15);
  }
}

.btn-delete {
  background-color: $red;
  &:hover,
  &:active  {
    background-color: darken($red, 15);
  }
}

.btn-save {
  background-color: $green;
  display: inline;
  width: auto;
  border: none;
  &:hover,
  &:active {
    background-color: darken($green, 15);
  }
}

.btn {
  text-decoration: none;
  border-radius: 4px;
  padding: 0.5em 0.8em;
  font-size: 15px;
  color: #ffffff !important;
  margin-inline-end: 0.5em;
  line-height: 1.3 !important;
  height: 36px;
  &:hover,
  &:active {
    color: #ffffff;
    cursor: pointer;
  }
  &:before {
    content: none !important;
  }
}

.footer {
  border-top: 1px solid #DDDEDF;
  p {
    font-size: 13px;
    line-height: 1.3;
    padding-left: 15px;
  }
  .inner {
    ul {
    list-style: outside none;
    margin: 0px;
    padding: 0px;
    }
    li {
    padding-right: 50px;
    display: inline-flex;
    }
    img {
      max-width: 35px;
    }
}

}

%icon {
  text-indent: 999%;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.icon-edit {
  @extend %icon;
  background-image: image-url("icon-edit.svg");
  background-size: 19px;
  background-position: 3px 4px;
}
.icon-delete {
  @extend %icon;
  background-image: image-url("icon-delete.svg");
  background-size: 18px 21px;
  background-position: 3px 1px;
}

.admin-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 1em;
    border-bottom: 3px solid #f1f1f1;
    @media (min-width: $medium) {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  .event-name {
    flex-grow: 1;
  }
  p {
    margin: 0 0 1em;
  }

  .application-mail {
    flex-grow: 1;
  }
  p {
    margin: 0 0 1em;
  }
}


 
