%conflogo {
  overflow: hidden;
  border-radius: 10px;
  background-color: $grey-dark;
}

.conflogo--small {
  @extend %conflogo;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: .5em;
  
  img {
    width: 20px;
    height: auto;
    vertical-align: top
  }
}

.conflogo--medium {
  @extend %conflogo;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: .5em;
  
  img {
    width: 50px;
    height: auto;
    vertical-align: top
  }
}

.conflogo--large {
  @extend %conflogo;
  width: 120px;
  height: 120px;
  img {
      width: 120px;
      height: auto;
  }
}
