.dropdown {
  @media (min-width: $medium) {
    position: relative;
  }

  .rotated {
    transform: rotate(180deg);
    background-position: 12px 2px;
  }

  .dropdown-label {
    display: inline-block;
    cursor: pointer;
    line-height: $topbar-height;
  }

  .dropdown-content {
    border-top: 1px dashed $grey-light;
    border-bottom: 1px dashed $grey-light;
    margin: 0 auto;
    padding: 0;
    display: none; // this will be toggled
    width: 200px;
    background-color: white;
    @media (min-width: $medium) {
      border: 1px solid #eee;
      position: absolute;
      border-top: 1px solid $green;
      &:after {
        border-bottom: 6px solid $green;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        left: 20px;
        position: absolute;
        top: -6px;
        width: 0;
      }
    }
  }

  .dropdown-item {
    list-style: none;
    border-bottom: 1px solid transparent;
    a:hover,
    a:active {
      &:after {
        content: none !important;
      }
    }
    &:empty {
      display: none;
    }
    @media (min-width: $medium) {
      padding: 10px 12px;
      line-height: 1.5em;
    }
  }
}

.dropdown {
  .account-menu-content {
    width: 100%;
    padding: 10px 0px;
    @media (min-width: $medium) {
      width: 143px;
    }
    .dropdown-item:last-of-type {
      font-weight: 600;
    }
  }

  .language-picker-content {
    @media (min-width: $medium) {
      max-width: 3.6em;
    }
  }
}
