// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  padding-left: 0.2em;
  color:   white;
  display: none;
}

.funded, .not-funded {
  padding-right: 0.5em;
}

.funded:before {
  content: "\2714";
}

.not-funded {
  color: $grey-mid;
  &:before {
    content: "\2718";
  }
}

.events-empty {
  margin-top: 3em;
  a {
    @extend %anchor;
    font-weight: 600;
  }
}
