$border-grey: #a1a3a6;
$grey-placeholder: #a5a3a4;
$grey-input: #4d4f51;
$error-red: #e85754;
$error-bg: #c43e3d;

input[type="checkbox"] {
  max-width: 500px;
  margin-right: 0.2em;
  margin-bottom: 1em;
}

input,
select {
  max-width: 250px;
}

input#query.search-input {
  max-width: 100%;
}

input[type="hidden"],
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

:placeholder-shown {
  font-size: 14px;
  color: $grey-placeholder;
}

.form_field--check {
  @extend .form_field;
  .field_with_errors {
    display: inline;
  }
  .field_with_errors ~ .check-label {
    color: $error-red;
  }
}

label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: 400;
  font-size: 14px;
}

div.required label:after {
  content: " *";
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
textarea,
select {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 0.3em;
  border: 1px solid $border-grey;
  border-radius: 2px;
  margin-bottom: 1em;
  background-color: white;
}

.field_with_errors {
  label {
    font-weight: 600;
    color: $error-red;
  }
  input,
  textarea {
    border-color: $error-red;
  }
}

.error {
  @include notice($error-bg, $error-red, "!");
}

.markdown textarea {
  position: relative;
  height: 200px;
  padding: 15px;
  background: white;
  z-index: 1;
}

.markdown .hint {
  display: block;
  font-size: 10px;
  padding-right: 2px;
  @media (min-width: $medium) {
    float: right;
  }
}

.markdown_preview {
  display: block;
  width: 100%;
  border: 1px solid $border-grey;
  padding: 0.3em 0;
  background-color: white;
  border-radius: 2px;
  height: 200px;
  position: relative;
  z-index: 0;
}

.markdown_preview_inner {
  overflow: scroll;
  display: block;
  width: 98%;
  padding: 0.3em;
  height: 190px;
}

.tab {
  display: inline-block;
  padding: 3px 8px;
  font-size: 14px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid $border-grey;
  cursor: pointer;
  background-color: #e7e8e9;
  margin-left: -1px;
  position: relative;
  top: 1px;
  left: 1px;
  z-index: 0;
  border-bottom: none;
}

.active {
  border-bottom: 1px solid white;
  cursor: auto;
  background-color: white;
  z-index: 2;
}

.event-logo img {
  height: 80px;
  padding: 0.3em;
  border: 1px solid $border-grey;
  border-radius: 2px;
}

.indent {
  margin-left: 20px;
}

input.has-dependent + div.form_field {
  display: none;
}

input.has-dependent:checked + div.form_field {
  display: block;
}

.form-hint {
  margin-bottom: 2rem;
  margin-left: 0.4em;
  font-size: 12px;
}

.form_with_hint {
  label {
    margin-top: 1rem;
  }
  textarea {
    margin-bottom: 0;
  }
}

.category-tags {
  margin-bottom: 1em;
  label {
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;
  }
}
.tags-border,
.terms_and_conditions-border {
  padding: 1em;
  border: 1px solid $border-grey;
  border-radius: 4px;
}
