.sign-up, .sign-in {
  .other-links {
    margin-top: 5px;
  }
  .alternative-registration {
    a {
      text-decoration: none;
      color: white;
    }
    .btn {
      text-align: center;
    }
  }
}
