.navigation {
  vertical-align: middle;
  flex-grow: 1;
  ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 30px;
    //overflow: auto;
    font-size: 15px;
    @media (min-width: $large) {
      display: flex;
      flex-grow: 1;
      justify-content: end;
    }
  }

  .flex-grow {
    flex-grow: 1;
  }

  li {
    margin-right: 1.3em;
    line-height: $topbar-height;
  }

  a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: $black;
  }

  a:hover,
  .active {
    color: $green;
    border-color: $green;
    padding-bottom: 1px;
    @media (min-width: $medium) {
      border: none;
      &:after {
        content: "";
        display: block;
        height: 1px;
        margin-top: -1px;
        background-color: $green;
      }
    }
  }
}
