.navigation {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  flex-grow: 1;
  @media (min-width: $medium) {
    text-align: left;
  }
  >ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 30px;
    font-size: 15px;
    @media (min-width: $medium) {
      display: flex;
      flex-grow: 1;
      justify-content: end;
    }
  }

  .flex-grow {
    flex-grow: 1;
  }

  >ul>li {
    margin: 10px auto;
    line-height: 1.5em;
    @media (min-width: $medium) {
      margin: 0 1.3em 0 0;
      line-height: $topbar-height;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $black;
  }

  a:hover,
  .active {
    color: $green;
    border-color: $green;
    padding-bottom: 1px;
    @media (min-width: $medium) {
      border: none;
      &:after {
        content: "";
        display: block;
        height: 1px;
        margin-top: -1px;
        background-color: $green;
      }
    }
  }
}

#account-menu {
  @media (min-width: $medium) {
    &:after {
      content: "|";
    }
  }
}
