.navigation {
  vertical-align: middle;
  ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 30px;
    overflow: auto;
    font-size: 15px;
  }

  li {
    padding-left: 10px;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover,
  .active {
    color: $green;
    border-bottom: 1px solid $green;
    padding-bottom: 1px;
    @media (min-width: $medium) {
      border: none;
      &:after {
        content: "";
        display: block;
        height: 1px;
        margin-top: -1px;
        background-color: $green;
      }
    }

  }

  #dropdown {
    display: table;
    line-height: 2em;
    @media (min-width: $small) {
      float: right;
      line-height: $topbar-height;
    }
    .btn {
      text-align: center;
      display: inline-block;
      width: 143px;
      margin: 10px 0;
    }
    .fa-sort-down {
      float: right;
    }
    .dropdown-content {
      display: none;
      position: relative;
      top: -25px;
      .dropdown-item {
        background-color: $grey-dark;
        opacity: 0.8;
        a {
          color: white;
        }
        a:hover,
        .active {
          color: $green;
          background-color: transparent;
        }
        padding-right: 10px;
        &:first-child {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          font-weight: bold;
        }
      }
    }
  }

  @media (min-width: $small) {
    li:not(.dropdown-item) {
      float: left;
      margin-right: 1em;
    }
  }

  @media (min-width: $medium) {
    display: inline-block;
    height: $topbar-height;
    line-height: $topbar-height;
    width: 80%;
  }

#language-picker {
  display: inline-block;
  float: right;
  padding: 0 30px 0 10px;
  margin-right: 10px;
  width: 10px;
  &:active, &:hover {
    color: $green;
    cursor: pointer;
  }
  @media (min-width: $small) {
    line-height: $topbar-height;
  }
  .language-picker-content {
    display: none;
    padding-top: 10px;
    .language-picker-item {
      margin: -20px 0 0 -10px;
      background-color: white;
      padding: 0 30px 0 10px;
      width: 30px;
      display: block;
      a {
        color: $grey-dark;}
      a:hover,
      .active {
        color: $green;
      }
      &:first-child, &:last-child {
        border-radius: 5px;
      }
    }
  }
}
}
