.navigation {
  vertical-align: middle;
  ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 30px;
    overflow: auto;
    font-size: 15px;
  }

  li {
    padding-left: 10px;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover,
  .active {
    color: $green;
    border-bottom: 1px solid $green;
    padding-bottom: 1px;
    @media (min-width: $medium) {
      border: none;
      &:after {
        content: "";
        display: block;
        height: 1px;
        margin-top: -1px;
        background-color: $green;
      }
    }

  }

  #dropdown {
    display: table;
    line-height: 2em;
    @media (min-width: $small) {
      float: right;
      line-height: $topbar-height;
    }
    .btn {
      line-height: $topbar-height !important;
      margin: 0;
    }
    .dropdown-content {
      display: none;
      position: relative;
      top: -5px;
      .dropdown-item {
        background-color: $grey-dark;
        opacity: 0.8;
        a {
          color: white;
        }
        a:hover,
        .active {
          color: $green;
          background-color: transparent;
        }
        padding-right: 10px;
        &:first-child {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          font-weight: bold;
        }
      }
    }
  }

  @media (min-width: $small) {
    li:not(.dropdown-item) {
      float: left;
      margin-right: 1em;
    }
  }

  @media (min-width: $medium) {
    display: inline-block;
    height: $topbar-height;
    line-height: $topbar-height;
    width: 80%;
  }
}
