#searchbar {
  margin: 5px 0 20px 0;
  section.tags {
    padding: 0.2em 1em;
  }
  .search-input,
  .btn {
    float: left;
  }
  .search-input {
    width: 320px;
    height: 35px;
    margin-right: 8px;
  }
}

.clear {
  clear: both;
}

#filter-tags-dropdown {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  @media (min-width: $small) {
    float: right;
    margin-top: 0;
  }
}

.filter-dropdown-content {
  display: none;
}
